body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
.header {
    text-align: center;
    font-size: 70px;
}
div {
    border: none;
    padding: 0px;
}

p {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

button {
    cursor: pointer;
}

.score {
    display: flex;
    position: absolute;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    bottom: 33%;
    left: 50%;
    transform: translateX(-50%);
}

.x-score {
    margin-right: 10px;
}

.o-score {
    margin-left: 10px;
}
.cell {
    position: relative;    /* making the cell a position context for its contents */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
}

.x-symbol, .o-symbol {
    position: absolute;
    font-size: 45px;
    font-weight: bold;
}
.cell-3, .cell-6, .cell-9 {
    border-right: black;
}

.cell-7, .cell-8, .cell-9 {
    border-bottom: none;
}

.grid-container {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr;
    top: 25%;
    right: 42%;
    height: 380px;
    width: 300px;
}

.current-display-msg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}


.reset-score-btn, .new-game-btn, .light-mode-btn {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
}
.reset-score-btn {
    position: absolute;
    bottom: 25%;
    left: 50%;
}

.new-game-btn {
    position: absolute;
    bottom: 25%;
    left: 44%;
}

.light-mode-btn {
    position: absolute;
    display: block;
    bottom: 16%;
    left: 50%;
    transform: translateX(-50%);
}